<h2>WebPMT</h2>
<p>
  A web tool for string matching algorithms. You may use this tool to check and benchmark your own
  string matching methods.
</p>
<h3>How to Use</h3>
<ul>
  <li>  
    Choose a <b>text file</b> from your computer. Its content will be loaded on this page.
  </li>
  <li>
    Choose the <b>algorithm</b> you want to use to perform the string matching. The chosen
    algorithm will be highlighted on the dropdown list.
  </li>
  <li>
    On the content bar, there is an area you must fill with the <b>pattern</b> you want to find on
    the loaded file.
  </li>
  <li>
    <b>Run</b> this application and check the benchmarking information on the content bar.
  </li>
</ul>